*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui;
    color: white;
    box-sizing: border-box;
}
body{
    position: relative;
background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);}

h2{
    font-size: 38px;
    display: inline;
    border-bottom: solid;
}
h3{
    font-size: 28px;
}
header{
    position: relative;
    top: 0%;
    width: 100%;
    background-color: transparent;
    z-index: 100;
}
nav{
    margin: auto;
    width: fit-content;
    margin-top: 20px;
}
ul{
    display: flex;
    list-style: none;
    margin: 12px;

}
li a{
    padding: 4px 17px;
    border-radius: 20px;
    margin:0 5px;
}
header a:hover{
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
    font-size: 20PX;
}
main{
    padding: 30px;
}
section{
    min-height: calc(100vh - 60PX);
    padding-top: 20px;
}
main h1{
    line-height: 65px; 
    font-size: ;
}
h1 mark{
    background-color: #2A7B9B;
}
#outils{
    margin-top: 20px;
}
#outils i{
    font-size: 50px;
    margin-right: 10px;
    
}
#outils i:first-child{
    color: #E5532D;
}
#outils i:nth-child(3){
    color: #F7E025;
}
#outils i:nth-child(2){
    color: #2D53E5;
}
#outils i:nth-child(4){
    color: #F15639;
}
#outils i:last-child{
    color: #080808;
}
#section2,#section3{
    text-align: center;
}
#section1{
 width: 550px;
 margin-left: 33%;
}
#section1 p , mark{
    font-size: 60px;
    font-weight: 700;
}
mark{
    background-color: #2A7B9B;
}
#skills div,#projects{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40PX;
}
#skills .skill{
    border: solid white;
    border-radius: 10px;
    width: 150px;
    padding: 20px 0;
    transition: all 1s;
}
#skills .skill:hover{
    background-color: white;
}
#skills .skill:hover i{
    color: #2A7B9B;
}
#projects{
    gap: 30PX
    ;
}
#skills i{
    font-size: 80px;
}
.project{
     width: 230px;
     height: 290px;
     border-radius:0 0 10px 10px;
     border: 1px solid;
     text-align: left;
     padding-bottom: 10px;
     transition: 500ms;
     text-align: center;
}
.project:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      scale: 1.02;
      border: black;
}
#projects  img{
    width: 100%;
    height: 50%;
    background-color: white;
    object-fit: contain;
    object-position: center;
    padding: 10px 0;
}
#projects div h3 , #projects div p{
    margin: 5px 10px;
}


.project-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-btns a{
    font-size: 16px;
}
#projects button{
    padding: 5px 10px;
    margin: 4px 0%;
    width: 140px;
}
button{
   background: #2A7B9B;
   background: linear-gradient(90deg, rgb(55, 165, 209) 0%, rgb(114, 235, 165) 50%, rgb(240, 228, 116) 100%);
   padding: 9px 25px;
   border-radius: 8px;
   margin-top: 10px;
   font-size: 20px;
   font-weight: 700;
   border: 1px black solid;
}
#section3 button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      scale: 1.02;
}
#section4{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20PX;
}

#section4 p{
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    line-height: 30px;
}
#section4 p:nth-child(2){
} 
#contact{
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 25PX;
    position: fixed;
    bottom: 35px;
    right: calc(50vw - 95px);
}

#contact a{

}
#contact i{
    font-size: 30px;
    color: black;
}
#contact a:hover i{
    opacity: 0.5;
}

@media screen and (max-width:900PX) {
    #section1{
        margin-left: 30%;
    }
}